html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Denk One";
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: flex;
  padding: 1rem;
}

body {
  background-color: #f5f2f0;
  margin: 0;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  padding: 0 1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  justify-content: space-between;
  margin: 1rem;
  padding: 0;
  flex-direction: column;
}

li {
  background-color: #ede3db;
  border-radius: 8px;
  border-style: solid;
  border-color: #623b0c;
  grid-gap: 1rem;
  padding: .5em .75em .6em;
  margin: .5rem;
}

h2 {
  font-family: "Denk One", sans-serif;
  font-size: 1.5rem;
  color: #623b0c;
}
